<div class="single-slidebar">
    <h4>Carrer Advice Blog</h4>
    <div class="blog-list">
        <!-- TODO -->
        <div class="single-blog " style="background:#000 url(img/blog1.jpg);">
            <a href="single.html"><h4>Home Audio Recording <br>
            For Everyone</h4></a>
            <div class="meta justify-content-between d-flex">
                <p>
                    02 Hours ago
                </p>
                <p>
                    <span class="lnr lnr-heart"></span>
                    06
                        <span class="lnr lnr-bubble"></span>
                    02
                </p>
            </div>
        </div>
        <!-- TODO -->
        <div class="single-blog " style="background:#000 url(img/blog2.jpg);">
            <a href="single.html"><h4>Home Audio Recording <br>
            For Everyone</h4></a>
            <div class="meta justify-content-between d-flex">
                <p>
                    02 Hours ago
                </p>
                <p>
                    <span class="lnr lnr-heart"></span>
                    06
                        <span class="lnr lnr-bubble"></span>
                    02
                </p>
            </div>
        </div>
        <!-- TODO -->
        <div class="single-blog " style="background:#000 url(img/blog1.jpg);">
            <a href="single.html"><h4>Home Audio Recording <br>
            For Everyone</h4></a>
            <div class="meta justify-content-between d-flex">
                <p>
                    02 Hours ago
                </p>
                <p>
                    <span class="lnr lnr-heart"></span>
                    06
                        <span class="lnr lnr-bubble"></span>
                    02
                </p>
            </div>
        </div>																		
    </div>
</div>		