{% load static %}

<!-- Start feature Area -->
<section class="feature-area">
	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-3 feat-img no-padding">
				<img class="img-fluid" src="{% static 'img/pages/f1.jpg' %}" alt="">
			</div>
			<div class="col-lg-3 no-padding feat-txt">
				<h6 class="text-uppercase text-white">Basic & Common Repairs</h6>
				<h1>Who we are</h1>
				<p>
					Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances of the graphical.
				</p>
			</div>
			<div class="col-lg-3 feat-img no-padding">
				<img class="img-fluid" src="{% static 'img/pages/f2.jpg' %}" alt="">							
			</div>
			<div class="col-lg-3 no-padding feat-txt">
				<h6 class="text-uppercase text-white">Basic & Common Repairs</h6>
				<h1>What we do</h1>
				<p>
					Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances of the graphical.
				</p>
			</div>
		</div>
	</div>	
</section>
<!-- End feature Area -->