{% load static %}

<!-- Start testimonial Area -->
<section class="testimonial-area" id="review">
	<div class="container">					
		<div class="row">
			<div class="active-review-carusel">
				<div class="single-review">
					<img src="{% static 'img/r2.png' %}" alt="">
					<div class="title d-flex flex-row">
						<h4>Management</h4>
					</div>
					<p>1 Obornicka street</p>
					<p>Poznan</p>
					<p>61-407</p>

				</div>	
				<div class="single-review">
					<img src="{% static 'img/r2.png' %}" alt="">
					<div class="title d-flex flex-row">
						<h4>Office</h4>
					</div>
					<p>11 Zielona street</p>
					<p>Zlotniki</p>
					<p>62-002</p>
				</div>							
			</div>
		</div>
	</div>	
</section>
<!-- End testimonial Area -->