{% extends 'main.html' %}

{% load static %}

{% block content %}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-center">
			<div class="banner-content col-lg-12">
				<h1 class="text-white">
					<span>Log in</span>
				</h1>

				{% if messages %}
					{% for message in messages %}
						<div class="text-white link-nav">{{ message }}</div>
					{% endfor %}
				{% endif %}

				<form method="POST" action="" class="serach-form-area">
					{% csrf_token %}
					<div class="row justify-content-center form-wrap">
						<div class="col-lg-4 form-cols">
							<input type="text" class="form-control" name="username" placeholder="username">
						</div>
					</div>

					<div class="row justify-content-center form-wrap">
						<div class="col-lg-4 form-cols">
							<input type="password" class="form-control" name="password" placeholder="password">
						</div>
					</div>
					<div class="row justify-content-center form-wrap">
						<div class="col-lg-2 form-cols">
							<button type="submit" class="btn btn-info">
								Log in
							</button>
						</div>
					</div>

					</div>
				</form>	
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->

{% endblock content %}
